
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">

  <title>Document</title>
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %>
  <div class="white-bg">
    <% lists.map(list=>{ %>
        <div class="list-box" onClick={console.log(33)}>
          <h4>            
            <a href="/detail/<%= list._id %>">
              <%= list.title %>
            </a>
            <a href="/edit/<%= list._id %>">✏️</a>
          </h4>
          
          <p><%= list.content %></p>
        </div>
    <% }) %>
  </div> 

</body>
</html>