<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/index.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <title>Document</title>
    </head>
    <body class="grey-bg">
        <%- include('nav.ejs', user) %>
        <div class="white-bg">
            <% lists.map(list=>{ %>
            <div class="list-box">
                
                <div style="margin-bottom: 15px;">
                    <span><%= list.writerNick %></span>
                    <% if(user && (list.writerId.toString() !== user._id.toString())){ %>
                        <button>채팅하기</button>
                    <% } %>
                </div>
                
                <h4>
                    <a href="/post/detail/<%= list._id %>"> <%= list.title %> </a>
                    <% if(user && (list.writerId.toString() === user._id.toString())){ %>
                        <a href="/post/edit/<%= list._id %>">✏️</a>
                        <span data-id="<%= list._id %>" class="delete">🗑️</span>
                    <% } %>
                    
                </h4>
                <p><%= list.content %></p>
                
            </div>
            <% }) %>
        </div>
        <% if(lists.length > 0) { %>
        <a href="/list/next/<%= lists[lists.length-1]._id %>">다음</a>
        <% } %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script>
            const delBtns = document.querySelectorAll('.delete');
            delBtns.forEach((btn) => {
                btn.addEventListener('click', function (event) {
                    //console.log(this.dataset.id)

                    // 새로고침 없이 몰래 http 요청 보낼 수 있음 -> AJAX
                    // fetch(`/delete?id=${this.dataset.id}`, {
                    //   method : 'DELETE',
                    //   headers : {'Content-Type' : 'application/json' }
                    //   //body: JSON.stringify({a:1})
                    // }).then((r)=>{
                    //   if(r.status == 200){
                    //     return r.text(); // object, array면 r.json()
                    //   }else{
                    //     console.log(`서버가 에러코드 리턴`)
                    //   }
                    // })
                    // .then((result)=>{
                    //   console.log(result)
                    // })
                    // .catch((e)=>{
                    //   // 인터넷 문제 등으로 실패
                    //   console.log(e)
                    // })

                    // fetch는 코드가 길어진다. axios같은 라이브러리 사용하면 편함
                    axios
                        .delete(`/post/delete?id=${this.dataset.id}`)
                        .then((r) => {
                            console.log(r.data);
                            
                            let msg;
                            if(parseInt(r.data) < 1){
                                msg = '삭제할 게시물이 없거나 작성자가 아닙니다.'
                            }else{
                                msg = '삭제 완료'
                                //화살표함수여서 바깥의 this 유지 가능
                                this.parentElement.parentElement.style.display = 'none';
                            }
                            alert(msg);
                        })
                        .catch((e) => {
                            console.log(e);
                        });
                });
            });
        </script>
    </body>
</html>
